<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harlan.lib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/harlan_ic_launcher"
        android:label="@string/harlan_app_name"
        android:theme="@android:style/Theme.Light" >
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
</manifest>